#terminal {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  overflow: auto;
  background-color: #000;
  color: #fff;
  font-family: monospace;
}

#terminal-output {
  height: 90%;
  overflow-y: auto;
}

#terminal-input {
  width: 100%;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
}